body{
color: #293647;}

.bg-fej {
background-image: url("drukletters.jpg");
background-position: center;
height: 250px;
padding-top: 0px;}

.bg-fej h1{
color: white;
font-size: 500%;
text-transform: uppercase;
text-decoration: underline overline;
font-weight: bold;}

.container{
margin-bottom: 15px;}

.bg-torzs {
background-color: #C5C599;}

h3{
margin: auto;}

a {
font-style: italic;
font-weight: bold;
color: darkblue;}

#kalkGomb {
margin: auto;}

#valasz{
visibility:hidden;}

img-thumbnail:hover {
opacity: 5%;}